.login {
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  background-color: var(--color-dark--1);
  min-height: calc(100vh - 5rem);
}

.login form {
  background-color: var(--color-dark--2);
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  width: 48rem;
  padding: 2rem 3rem;
  margin: 8rem auto;
  gap: 2rem;
}
.login div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
