.appnav ul {
  list-style: none;
  display: flex;
  background-color: var(--color-dark--2);
  border-radius: 7px;
  padding: 0.3rem 0;
}
.appnav a:link,
.appnav a:visited {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 5px;
  padding: 0.5rem 2rem;
}
.appnav a:global(.active) {
  background-color: var(--color-dark--0);
}
